    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About us</h2>
                <p>Multiplex is a company that was established by 9 aspiring English School students.</p>
                <p>From the start, we became very interested in finding a solution to the problem of stress, something that almost everyone faces nowadays. This was the beginning of the s-cube, a smart gadget that aims to reduce stress by providing things to keep your hands busy with. Each of its six sides has a different tool for you to play with, from pen-clicking simulation  buttons to an analogue stick and a roller ball.</p>
                <p>This gadget not only reduces stress through a fun way; it is also easy to carry around, since it is small and light weight, a perfect all day companion!</p>
            </div>
        </div>
        <div class="row embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FMultiplexCyprus%2Fvideos%2F1936644673230773%2F&show_text=0" allowFullScreen allowTransparency></iframe>
        </div>
    </section>
