    <section id="s-cube">
        <div class="container text-center content-section">
            <h1>Meet the S-Cube</h1>

            <div class="row content-section">
                <div class="col-md-7">
                    <h3>It'll blow your mind</h3>
                    <p class="lead">The S-Cube features six different fidgeting tools, each aiming to satisfy a different fidgeting need.  With your thumb, you might enjoy the switch or if you are a gamer, you'll feel right at home with a very ergonomical joy stick. If you are a worrier, the end to your anxiety has come; simply roll your thumb over the specially designed indent and practice your breathing to relax.</p>
                </div>
                <div class="col-md-5">
                    {% include picture.html name="switch.jpg" class="img-responsive center-block" alt="S-Cube - Flip!" %}
                </div>
            </div>

            <div class="row content-section">
                <div class="col-md-7 col-md-push-5">
                    <h3>It's that good</h3>
                    <p>If you prefer rolling instead, we have what you need. A simple roller-ball that is clickable and three mini gears are more than satisfying. Alternatively, you could also try the spinner on the opposite side, which is just as pleasurable.</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    {% include picture.html name="rollers.jpg" class="img-responsive center-block" alt="S-Cube - Roll!" %}
                </div>
            </div>

            <div class="row content-section">
                <div class="col-md-7">
                    <h3>See for yourself</h3>
                    <p>Finally, if you are addicted to that satisfying pen clicking, no need to carry that pen around. The S-Cube has a specifically designed side featuring 5 pen-clicking simulation buttons that are ever more satisfying than a real pen. And if you are in a meeting, we've got you covered - two of them are silent.</p>
                </div>
                <div class="col-md-5">
                    {% include picture.html name="buttons.jpg" class="img-responsive center-block" alt="S-Cube - Click!" %}
                </div>
            </div>
        </div>
    </section>
